<div class="container" style="margin-top:60px">
        <h2>About Me</h2>
        <p>My introduction</p>
    <div class="row details">
        <div class="col-sm-12 col-md-6">
            <img class="aboutme-photo img-responsive rounded" src="assets/images/vibin5.jpg" alt="personal-photo">
        </div>
        <div class="col-sm-12 col-md-6  ">
            <p>Front end developer with extensive knowledge and year of experience.
                Web development using angular framework.
                Delivering quality works</p>
                <div class="details-details">
                    <div class="col-sm-3 col-md-4 ">
                        <h6>06+</h6>
                        <p>months<br>experience</p>
                    </div>
                    <div class="col-sm-3 col-md-4">
                        <h6>03+</h6>
                        <p>Completed<br>projects</p>
                    </div>
                    <div class="col-sm-3 col-md-4">
                        <h6>01+</h6>
                        <p>Companies<br>worked</p>
                    </div>
                </div>
                <a href="assets/images/angular-resume.pdf" download="Vibin_resume">
                <button type="button" class="btn btn-sm btn-primary">Download CV 
                    <i class="fa fa-download"></i>
                </button>

                </a>
               
        </div>
    </div>
</div>
