<div class="" style="margin-top:2%;">
    <h2>Services</h2>
    <p>What I offer</p>
</div>

<div class="row services" style="margin-top:3%;">

    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="height:300px; width:250px">
            <img class="card-img-top" src="assets/images/ui-ux.jpg" alt="ui/ux logo" height="" width="100%">
            <div class="card-body">
              <br><h5 class="card-title">UI/UX Designer</h5>
              <a href="#">See more <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="height:300px; width:250px">
            <img class="card-img-top" src="assets/images/frontend.png" alt="ui/ux logo" width="100%">
            <div class="card-body">
              <h5 class="card-title">Frontend Developer</h5>
              <a href="#">See more <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="height:300px; width:250px">
            <br>
            <img class="card-img-top" src="assets/images/brand.png" alt="ui/ux logo" width="100%">
            <div class="card-body">
                <br>
              <h5 class="card-title">Branding Designer</h5>
              <a href="#">See more <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
    </div>
</div>
