
<div class="" style="margin-top:5%;">
    <h2>Skills</h2>
    <p>My Technical Summery</p>
    <div class="row skill-set">
        <div class="col-12 col-sm-12 col-md-6 skill">
            <div class="">
                
                <h6 style="padding: 1%;">Angular</h6>
                <div class="progress" style="height: 6px; width: 100%;">
                    <div class="progress-bar" style="width: 70%;"></div>
                </div>
            </div>
            <div class="">
                <h6 style="padding: 1%;">TypeScript</h6>
                <div class="progress" style="height: 6px; width: 100%;">
                    <div class="progress-bar" style="width: 60%;"></div>
                </div>
            </div>
            <div class="">
                <h6 style="padding: 1%;">Bootstrap</h6>
                <div class="progress" style="height: 6px; width: 100%;">
                    <div class="progress-bar" style="width: 80%;"></div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 skill">
            <div class="">
                <h6 style="padding: 1%;">HTML</h6>
                <div class="progress" style="height: 6px; width: 100%;">
                    <div class="progress-bar" style="width: 80%;"></div>
                </div>
            </div>
            <div class="">
                <h6 style="padding: 1%;">CSS</h6>
                <div class="progress" style="height: 6px; width: 100%;">
                    <div class="progress-bar" style="width: 75%;"></div>
                </div>
            </div>
            <div class="">
                <h6 style="padding: 1%;">Javasript</h6>
                <div class="progress" style="height: 6px; width: 100%;">
                    <div class="progress-bar" style="width: 70%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>