<div class="frontend">
    <div class="frontend-service">
        <h4>Frontend Developer</h4><br>
        <div class="col-sm-12">
            <p>
                Front-end developers create the user interface (UI) that determines 
                what each part of a site or application does and how it will look.
                If someone wanted to build a website, for example, they might hire a front-end developer
                 to create the site's layout. The front-end developer determines where to place images,
                  what the navigation should look like, and how to present the site. Much of their work 
                  involves ensuring the appearance and layout of the site or application is easy to navigate
                   and intuitive for the user.
            </p>
            <h6>My Technical skills as frontend developer</h6>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Java Script</li>
                <li>JQuery</li>
                <li>Bootstrap</li>
                <li>Angular</li>
                <li>SQL</li>
            </ul>
        </div>
            <button type="button" class="btn btn-outline-secondary" (click)="currentPage()">close</button>
    </div>
</div>