<div class="header">
    <nav class="navbar navbar-expand-md fixed-top">
        
            <a class="navbar-brand" routerLink="/">
                Vibin Chemmannoor
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarToggler">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <span class="material-symbols-outlined">menu</span>
            </button>
      
        <div class="collapse navbar-collapse" id="navbarToggler">
    
            <div class="mr-auto"></div>
            <ul class="nav navbar-nav pr-5">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/aboutme">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contactme">Contactme</a>
                </li>
            </ul>
        </div>
        
    </nav>
</div>



