<div class="social-media">
    <a href="https://www.linkedin.com/in/vibin-chemmannoor-6b59b211b/"><i class="fa fa-linkedin" style="font-size:25px"></i></a>
    <a href="https://github.com/VibinChemmannoor"><i class="fa fa-github pl-3" style="font-size:25px; color: red;"></i></a>
</div>

<div class="row">
    <div class="content col-12 col-sm-6 col-md-5 ">
        <h2 class="slide-left">Hi, I'm</h2>
         <h1 class="slide-left">Vibin Chemmannoor</h1>
         <p class="slide-left"><b>Front End Developer</b><br>Bootstrap | JavaScript | Angular</p>
         <div class="links slide-left">
             <a href="" class="btn">Contact Me
              </a>
                
            </div>
    </div>

    <div class="image col-12 col-sm-6 col-md-5 ">
        <img class="photo image-responsive " src="assets/images/vibin3.png" alt="personal-image">
     </div>
             
</div>



